.donation-card {
    position: relative;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s;
    padding-top: 40px; /* Additional padding to avoid overlapping with the status */
  }
  
  .donation-card:hover {
    transform: scale(1.02);
  }
  
  .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .status-button {
    position: absolute;
    width:250px;
    top: 10px;
    right: 10px;
  }
  .status.accepted {
    background-color: green;
    color: white;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
  }
  
  .card-text {
    font-size: 16px;
    color: #495057;
  }
  
  .list-group-item {
    font-size: 14px;
    color: #343a40;
    background-color: #f8f9fa;
  }
  